name: CI Check - Push

on:
  push:
  workflow_call:

permissions:
  contents: read

jobs:
  validate-syntax:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install actionlint
        shell: bash
        run: |
          bash <(curl -s https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)

      - name: Run actionlint validation
        shell: bash
        id: actionlint
        run: |
          if ./actionlint > actionlint.log 2>&1; then
            echo "validation_result=success" >> "$GITHUB_OUTPUT"
          else
            echo "validation_result=failed" >> "$GITHUB_OUTPUT"
            cat actionlint.log
            exit 1
          fi

      - name: Upload actionlint log
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: actionlint-log
          path: actionlint.log

  ps-script-analyzer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PSScriptAnalyzer
        shell: pwsh
        run: |
          Install-Module -Name PSScriptAnalyzer -Force -Scope CurrentUser

      - name: Run PSScriptAnalyzer
        shell: pwsh
        run: |
          $logFile = "psscriptanalyzer.log"
          $results = Invoke-ScriptAnalyzer -Path . -Recurse -Settings .\scripts\Modules\Utilities\PSScriptAnalyzerSettings.psd1
          if ($results) {
            $results | Out-File $logFile
            $results | Format-Table -AutoSize
            exit 1
          } else {
            "No issues found." | Out-File $logFile
          }

      - name: Upload PSScriptAnalyzer log
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: psscriptanalyzer-log
          path: psscriptanalyzer.log

  json-prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install prettier
        run: |
          npm install -g prettier

      - name: Check JSON formatting
        run: |
          FILES=$(find . -name "*.json")
          LOGFILE="json-prettier.log"
          if ! prettier --check "$FILES" | tee "$LOGFILE"; then
            echo "Some JSON files are not properly formatted."
            exit 1
          fi

      - name: Upload JSON Prettier log
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: json-prettier-log
          path: json-prettier.log